a {
  color: #fff;
  text-decoration: none;
}


.items {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.item {
  width: 300px;
  height: 300px;
  border: 1px solid #ddd;
  position: relative;
  margin: 10px;
}

img {
  width: inherit;
  height: inherit;
}

.caption {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: black;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.5s;
  padding-top: 20px;
}

.item:hover .caption {
  opacity: 0.8;
}

.caption a {
  background-color: #5d68a3;
  padding: 5px;
  border-radius: 3px;
}

.caption a:hover {
  background-color: #3c3fda;
}